<div class="box" style="margin: 2rem auto">
  <div class="content">
    <div class="title-enc">
      <h4 class="break white left">
        <span>Cash Payments</span>
      </h4>
    </div>
  </div>

  <div class="tabs is-boxed is-centered">
    <ul>
      <% cash_payments_link.each do |link| %>
        <li class="<%= 'is-active' if link[:path] == request.path %>">
          <%= link_to link[:name], link[:path] %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= yield %>
</div>
