<%= render 'cash_payment_layout' do %>
  <% if CashPayment.unpaid.exists? %>
    <%= form_with url: cash_payments_path, data: {remote: false}, method: :get do |f| %>
      <div class="field has-addons">
        <div class="control">
          <button class="button is-static"><%= icon 'fas', 'search' %></button>
        </div>
        <div class="control is-expanded">
          <%= f.text_field :text, class: 'input', placeholder: 'Search by user name, email or mobile...', value: params[:text] %>
        </div>
        <div class="control">
          <%= f.submit 'Search', class: 'button is-info' %>
        </div>
      </div>
    <% end %>
    <div class="table-container">
      <table class="table is-striped is-fullwidth">
        <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th class="has-text-centered">Amount</th>
          <th>Due Date</th>
          <th>Time Slot</th>
          <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody>
        <% @cash_payments.each do |cash_payment| %>
          <tr>
            <td><%= cash_payment.user_name %></td>
            <td><%= ldt cash_payment.date %></td>
            <td class="has-text-centered"><%= humanized_money_with_symbol cash_payment.amount %></td>
            <td><%= ldt cash_payment.due_date %></td>
            <td><%= cash_payment.time_slot %></td>
            <td>
              <%= link_to 'Pay', cash_payment_path(cash_payment), class: 'button is-success' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="has-text-centered">There are no pending payments to be collected.</p>
  <% end %>
<% end %>
