<div style="margin: 3rem auto;">
  <%= link_to cash_payments_path do %>
    <%= icon 'fas', 'arrow-left' %> back
  <% end %>
  <div class="box">
    <div class="notification is-warning">
      This process is non reversible. Kindly make sure everything is correct.
      <br>
      Type "Freshgala" in the below box and press "Pay" button
    </div>
    <table class="table is-fullwidth">
      <tbody>
      <tr>
        <th>Name</th>
        <td><%= @cash_payment.user.name %></td>
      </tr>
      <tr>
        <th>Mobile</th>
        <td><%= @cash_payment.user.mobile %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @cash_payment.user.email %></td>
      </tr>
      <tr>
        <th>Amount</th>
        <td><%= humanized_money_with_symbol @cash_payment.payment.amount %></td>
      </tr>
      <tr>
        <th>Wallet</th>
        <td><%= humanized_money_with_symbol @cash_payment.payment.wallet %></td>
      </tr>
      <tr>
        <th>Discount</th>
        <td><%= humanized_money_with_symbol @cash_payment.payment.discount %></td>
      </tr>
      <tr>
        <th>Total</th>
        <td><%= humanized_money_with_symbol @cash_payment.payment.amount %></td>
      </tr>
      </tbody>
    </table>
    <%= form_with model: @cash_payment, method: :patch do |f| %>
      <div class="field has-addons">
        <div class="control is-fullwidth is-expanded">
          <%= f.text_field :confirm, class: 'input', placeholder: 'Type Freshgala in the text box' %>
        </div>
        <div class="control">
          <%= f.submit 'Pay', class: 'button is-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
