= simple_form_for @subscription_request, url: subscription_request_path, remote: true do |f|
  = f.input :name
  = f.input :email
  = f.input :mobile
  = f.input :address
  = f.input :product, as: :select, collection: ['Cow Milk', 'Buffalo Milk ']
  = f.input :quantity, input_html: {step: 0.5}
  .modal-footer
    = f.submit 'Submit', class: 'btn btn-success'
