<div class="columns is-centered">
  <div class="column is-8-desktop is-12-mobile">
    <p class="has-text-light has-text-weight-bold">
      Please get in touch using the contact form below, or email us at
      <strong><a href="mailto:help@freshgala.com" style="color: #f5d9ac">help@freshgala.com</a></strong>
    </p>
    <br>
    <p class="has-text-light has-text-weight-bold">
      You can also call us on <strong><a href="tel:+91994945543" style="color: #f5d9ac">(+91) 994945543</a></strong>
    </p>
    <br>
    <%= form_with model: @ticket, url: create_ticket_path, html: {class: 'fg-ticket-form'} do |f| %>
      <div class="field">
        <label for="name" class="label">Name</label>
        <%= f.text_field :name, class: 'input', placeholder: 'Enter Name', required: true %>
      </div>
      <div class="field">
        <label for="name" class="label">Email</label>
        <%= f.text_field :email, class: 'input', placeholder: 'Enter Email', required: true %>
      </div>
      <div class="field">
        <label for="name" class="label">Mobile</label>
        <%= f.text_field :mobile, class: 'input', placeholder: 'Enter Mobile', required: true %>
      </div>
      <div class="field">
        <label for="name" class="label">Locality</label>
        <%= f.text_field :locality, class: 'input', placeholder: 'Enter Locality', required: true %>
      </div>
      <br>
      <div class="field has-text-centered">
        <button type="submit" class="button is-success is-rounded">Send Message</button>
      </div>
    <% end %>
  </div>
</div>
