<section class="fg-about-page section has-text-light">
  <div class="container">
    <div class="content">
      <h1>About Freshgala</h1>
      <p>Yet to be updated</p>
    </div>
  </div>
</section>
<%= render 'landing_pages/question_section' %>
