<% if @subscription_request.errors.any? %>
$('#subscription_request_modal_area').html('<%= j render "subscription_request_form" %>');
<% else %>
$('#subscription_request_modal_area').html('<%= j render "thank_you" %>');
<% end %>
