<section class="section fg-features-page has-text-centered">
  <div class="content">
    <h1 class=" has-text-light">Features yet to be added</h1>
  </div>
</section>
<%= render 'landing_pages/question_section' %>
