<section class="hero is-medium fg-hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <%= image_tag 'landing1/products_image.png', class: '', alt: 'Freshgala product' %>
        </div>
        <div class="column is-half">
          <h1 class="is-size-2 is-size-4-mobile has-text-light has-font-weight-bold">
            Brew, <span class="has-text-success" style="text-decoration: underline">DRINK</span> and say <br> Moooo...!
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section fg-headline-features">
  <div class="container">
    <div class="columns feature is-vcentered has-text-centered">
      <div class="is-offset-1 column">
        <%= image_tag 'landing1/products_icon_1.png', class: '', alt: 'Freshgala feature 1' %>
      </div>
      <div class="column">
        <div class="content">
          <h3 class="has-text-danger is-uppercase">Complete health benefits</h3>
        </div>
        <p class="is-size-4 has-text-light has-text-left">
          Want your kids to prosper by gaining Vitamins, Calcium, Zinc and all other minerals without any contamination. FreshGala offers you the complete package of health benefits compressed in a single bottle of fresh milk.
        </p>
      </div>
      <div class="column is-1"></div>
    </div>
    <hr>
    <div class="columns feature is-vcentered has-text-centered">
      <div class="is-offset-1 column">
        <div class="content">
          <h3 class="has-text-danger is-uppercase">Free home delivery</h3>
        </div>
        <p class="is-size-4 has-text-light has-text-left">
          Busy with your daily chores. Stop worrying. We deliver you the freshest milk sealed in (mention how you clean the bottles) treated bottles to your home and the best part is we do not get charge you for the delivery.
        </p>
      </div>
      <div class="column">
        <%= image_tag 'landing1/products_icon_2.png', class: '', alt: 'Freshgala feature 1' %>
      </div>
      <div class="column is-1"></div>
    </div>
    <hr>
    <div class="columns feature is-vcentered has-text-centered">
      <div class="is-offset-1 column">
        <%= image_tag 'landing1/products_icon_3.png', class: '', alt: 'Freshgala feature 1' %>
      </div>
      <div class="column">
        <div class="content">
          <h3 class="has-text-danger is-uppercase">Zero additives</h3>
        </div>
        <p class="is-size-4 has-text-light has-text-left">
          With zero additives (not even water) we offer you the purest of pure because we too care about your family’s health and happiness.
        </p>
      </div>
      <div class="column is-1"></div>
    </div>
    <hr>
    <div class="columns feature is-vcentered has-text-centered">
      <div class="is-offset-1 column">
        <div class="content">
          <h3 class="has-text-danger is-uppercase">Rich flavour</h3>
        </div>
        <p class="is-size-4 has-text-light has-text-left">
          Tastes like real milk, because it is. The perfect mixture of aroma, flavour and rich creaminess makes this milk enjoyable by all the people of your family especially the kids.
        </p>
      </div>
      <div class="column">
        <%= image_tag 'landing1/products_icon_4.png', class: '', alt: 'Freshgala feature 1' %>
      </div>
      <div class="column is-1"></div>
    </div>
  </div>
</section>
<section class="section fg-contact-form">
  <div class="container">
    <h3 class="is-size-3 has-text-weight-bold has-text-light has-text-centered" style="margin-bottom: 2rem">Do you want try?</h3>
    <%= render 'landing_pages/ticket_form' %>
  </div>
</section>


