%header
  %nav.navbar.is-transparent
    .navbar-brand
      = link_to 'Fresh Gala', root_path, class: 'navbar-item'
    #navbarExampleTransparentExample.navbar-menu
      .navbar-end
        .navbar-item
          .field.is-grouped
            %p.control
              - if user_signed_in?
                = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button is-danger'
