%nav#navbar.navbar.has-shadow.is-spaced
  .container
    .navbar-brand
      %a.navbar-item{href: '/'}
        = image_tag "landing1/logo.png", title:  'FreshGala', width: '50%', height: "28", width: "112"
      #navbarBurger.navbar-burger.burger{"data-target" => "navMenuDocumentation"}
        %span
        %span
        %span
    #navMenuDocumentation.navbar-menu
      - if user_signed_in?
        .navbar-start
          %a.navbar-item.bd-navbar-item-documentation.is-active{href: "/user/subscriptions"}
            %span.icon.has-text-primary
              =fa_icon 'book'
            %span.is-hidden-touch.is-hidden-widescreen
              Subscri
            %span.is-hidden-desktop-only
              My Subscriptions
          %a.navbar-item.bd-navbar-item-love{href: '/user/addresses' }
            %span.icon.has-text-danger
              =fa_icon 'home'
            %span My Address
        .navbar-end
          .navbar-item
            .field.is-grouped.is-grouped-multiline
              %p.control
                = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button is-danger'
