<div style="margin: 3rem auto;">
  <%= link_to tickets_path do %>
    <%= icon 'fas', 'arrow-left' %> back
  <% end %>
  <div class="box">
    <div class="content">
      <h4><%= @ticket.persisted? ? "Edit #{@ticket.name}" : 'New ticket' %> </h4>
    </div>

    <div>
      <%= form_with model: @ticket do |f| %>
        <div class="field">
          <label for="name">Name</label>
          <div class="control">
            <%= f.text_field :name, class: 'input', required: true, placeholder: 'Enter Name', disabled: true %>
          </div>
        </div>
        <div class="field">
          <label for="email">Email</label>
          <div class="control">
            <%= f.text_field :email, class: 'input', required: true, placeholder: 'Enter Email', disabled: true %>
          </div>
        </div>
        <div class="field">
          <label for="Mobile">Primary Contact</label>
          <div class="control">
            <%= f.text_field :mobile, class: 'input', required: true, placeholder: 'Enter Primary Contact', maxlength: 10, disabled: true %>
          </div>
        </div>
        <div class="control">
          <label class="radio">
            <%= f.radio_button :status, 'waiting' %>
            Waiting
          </label>
          <label class="radio">
            <%= f.radio_button :status, 'process' %>
            Process
          </label>
          <label class="radio">
            <%= f.radio_button :status, 'active' %>
            Active
          </label>
        </div>
        <br/>
        <div class="field">
          <%= f.submit 'Save', class: 'button is-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
