<div class="box" style="margin: 2rem auto;">
  <div class="content">
    <div class="title-enc">
      <h4 class="break white left">
        <span>Ticket List</span>
      </h4>
    </div>
  </div>
  <% if @tickets.exists? %>
    <div class="table-container">
      <table class="table is-fullwidth is-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Area</th>
          <th>Status</th>
          <th>Date</th>
          <th></th>

        </tr>
        </thead>
        <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.name %></td>
            <td><%= ticket.email %></td>
            <td><%= ticket.mobile %></td>
            <td><%= ticket.locality %></td>
            <td><%= ticket.status %></td>
            <td><%= ticket.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= link_to 'Edit', edit_ticket_path(ticket), class: 'button is-success is-outlined' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>