<div class="box" style="margin: 2rem auto;">
  <div class="content">
    <div class="title-enc">
      <h4 class="break white left">
        <span>Subscription List</span>
      </h4>
    </div>
  </div>
  <% if @subscriptions.exists? %>
    <div class="table-container">
      <table class="table is-fullwidth">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Area</th>
          <th>Status</th>
          <th>Quantity</th>
          <th>Date</th>

        </tr>
        </thead>
        <tbody>
        <% @subscriptions.each do |subscription| %>
          <tr>
            <td><%= subscription.name %></td>
            <td><%= subscription.email %></td>
            <td><%= subscription.mobile %></td>
            <td><%= subscription.address %></td>
            <td><%= subscription.product %></td>
            <td><%= subscription.quantity %></td>
            <td><%= subscription.created_at.strftime("%d/%m/%Y") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>