<p>Hi Admin,</p>
<p>A new ticket has been raised.</p>
<p>Name: <%= @ticket.name %></p>
<p>Email: <%= @ticket.email %></p>
<p>Mobile: <%= @ticket.mobile %></p>
<p>Contact the user as soon as possible.</p>