$blue-color: #53aef5;

.image-box {
  position: relative;
  &:hover {
    opacity: 0.7;
    .delete-btn {
      display: block;
    }
  }
  .delete-btn {
    display: none;
    z-index: 5;
    position: absolute;
    top: 50%;
    right: 50%;
  }
}

.fg-body {
  padding: 10px;
}

