$blue-grey: #eceff1;

.break {
  text-align: center;
  margin-bottom: 1rem;
  z-index: 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: -1;

  }

  &.left {
    text-align: left;
    span {
      padding: 0 .5rem 0 0;
    }
  }

  &.white {
    span {
      background-color: #fff;

    }
  }

  span {
    display: inline-block;
    padding: 0 0.5em;
    background: $blue-grey;

  }
}

.title-enc {
  position: relative;
  .align-inside-title {
    position: absolute;
    left: 0;
    z-index: 7;
    top: -.1rem;
    background-color: #fff;

    &.bg-body-bg {
      background-color: $blue-grey;
    }

    &.align-right {
      left: initial;
      right: 0;
    }
  }
}

