<div style="margin: 3rem auto;">
  <%= link_to product_categories_path do %>
    <%= icon 'fas', 'arrow-left' %> back
  <% end %>
  <div class="box">
    <div class="content">
      <h4><%= @product_category.persisted? ? "Edit #{@product_category.name}" : 'New' %> Product Category</h4>
    </div>

    <div>
      <%= form_with model: @product_category do |f| %>
        <div class="field">
          <label for="name">Name</label>
          <div class="control">
            <%= f.text_field :name, class: 'input', required: true, placeholder: 'Enter Name' %>
          </div>
        </div>
        <div class="field">
          <label for="name">Description</label>
          <div class="control">
            <%= f.text_area :description, class: 'input', placeholder: 'Enter Description' %>
          </div>
        </div>
        <div class="field">
          <label for="image">Image</label>
          <div class="file has-name is-fullwidth">
            <label class="file-label">
              <%= f.file_field :image, class: 'file-input', accept: 'image/*', required: !@product_category.image.attached? %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name"></span>
            </label>
          </div>
          <p class="help">Load only Jpeg images</p>
        </div>

        <div class="field">
          <%= f.submit 'Save', class: 'button is-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
