<div class="box" style="margin: 2rem auto;">
  <div class="content">
    <div class="title-enc">
      <h4 class="break white left">
        <span>Product Categories</span>
      </h4>
    </div>
  </div>
  <div style="margin-top: 1rem" class="columns is-multiline is-centered is-mobile is-desktop">
    <% @product_categories.each do |product_category| %>
      <div class="column is-4-desktop is-12-mobile">
        <%= link_to edit_product_category_path(product_category) do %>
          <div class="box has-text-centered">
            <strong><%= product_category.name %></strong>
            <% if product_category.image.attached? %>
              <%= image_tag product_category.image %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="column is-4-desktop is-12-mobile">
      <%= link_to new_product_category_path do %>
        <div class="box has-text-centered">
          <%= icon('fas', 'plus') %> &nbsp;New Category
        </div>
      <% end %>
    </div>
  </div>
</div>
