<div class="columns is-mobile is-desktop is-centered" style="margin: 4rem auto;width: 95%;">
  <div class="column is-half-desktop is-12-mobile is-12-tablet">
    <div class="box">
      <div class="content">
        <h2 class="has-text-centered">Log in</h2>
        <%= form_with model: resource, as: resource_name, url: session_path(resource), data: {remote: false} do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <label for="email">Email</label>
            <%= f.email_field :email, class: 'input', required: true, autofocus: true %>
          </div>

          <div class="field">
            <label for="email">Password</label>
            <%= f.password_field :password, class: 'input', required: true %>
          </div>

          <% if devise_mapping.rememberable? %>
            <label class="checkbox">
              <%= f.check_box :remember_me, as: :boolean %>
              Remember me
            </label>
          <% end %>

          <div class="field" style="margin-top: 0.5rem;">
            <%= f.submit "Log in", class: 'button is-success' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
