<div>
  <div style="text-align: right;">
    <% if request.present? %>
      <%= image_tag 'logo.png', class: 'receipt-image' %>
    <% elsif defined?(image_tags) %>
      <%= image_tag(attachments['logo.png'].url, width: 200, class: 'receipt-image') %>
    <% else %>
      <%= wicked_pdf_image_tag 'logo.png', class: 'receipt-image' %>
    <% end %>
  </div>
  <p style="margin: 0.5rem 0;">Thanks for choosing Freshgala, <%= @payment_receipt.user.name %>! Here is your
    receipt:</p>
  <table>
    <tbody>
    <tr>
      <td style="width: 50%;">
        <p>Receipt No: <span class="bold-font"><%= @payment_receipt.receipt_number %></span></p>
        <p>Paid Date: <span class="bold-font"><%= ldt_with_time @payment_receipt.date %></span></p>
        <p>Paid Through: <span class="bold-font"><%= @payment_receipt.paid_through %></span></p>
      </td>
      <td style="width: 50%;">
        <p>Receipt To:</p>
        <p class="bold-font"><%= @payment_receipt.user.name %></p>
        <%= address_splitter(@payment_receipt.user_location_text) %>
      </td>
    </tr>
    </tbody>
  </table>
  <table>
    <tbody>
    <tr>
      <td style="width: 50%;">
        <p>Vendor:</p>
        <p class="bold-font"><%= @payment_receipt.vendor.name %></p>
        <%= address_splitter(@payment_receipt.vendor_location_text) %>
      </td>
      <td style="width: 50%;"></td>
    </tr>
    </tbody>
  </table>
  <div style="margin-top: 0.75rem">
    <table class="receipt-table">
      <thead>
      <tr>
        <td style="width: 65%">Description</td>
        <td style="width: 20%;text-align: center">Quantity</td>
        <td class="num" style="width: 15%;">Price</td>
      </tr>
      </thead>
      <tbody>
      <% @payment_receipt.payment_receipt_items.each do |payment_receipt_item| %>
        <tr>
          <td><%= payment_receipt_item.description %></td>
          <td style="text-align: center">
            <%= payment_receipt_item.quantity %><%= payment_receipt_item.unit_of_measurement %>
            x <%= currency_symbol %>&nbsp;<%= humanized_money payment_receipt_item.rate %>
          </td>
          <td class="num pct"><%= currency_symbol %>&nbsp;<%= humanized_money payment_receipt_item.amount %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td></td>
        <td class="total-text">Item Total:</td>
        <td class="num pct"><%= currency_symbol %>&nbsp;<%= @payment_receipt.total %></td>
      </tr>
      <tr>
        <td></td>
        <td class="total-text">Wallet:</td>
        <td class="num pct"><%= currency_symbol %>&nbsp;<%= @payment_receipt.wallet %></td>
      </tr>
      <tr>
        <td></td>
        <td class="total-text">Discount:</td>
        <td class="num pct"><%= currency_symbol %>&nbsp;<%= @payment_receipt.discount %></td>
      </tr>
      <tr class="grand-total">
        <td></td>
        <td class="total-text">Grand Total:</td>
        <td class="num pct"><%= currency_symbol %>&nbsp;<%= @payment_receipt.grand_total %></td>
      </tr>
      </tfoot>
    </table>
  </div>
  <div style="margin-top: 2.5rem;">
    <div class="notification-box">
      <span class="bold-font">Note:</span> This is an acknowledgement of payment for your order. Invoice will be
      sent independently for each month. Thank you.
    </div>
  </div>
</div>
