<div class="box" style="margin: 2rem auto">
  <div class="content">
    <div class="title-enc">
      <h4 class="break white left">
        <span>Payments</span>
      </h4>
    </div>
  </div>
  <div class="table-container">
    <table class="table is-fullwidth is-striped">
      <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Paid Through</th>
        <th class="has-text-right">Amount</th>
        <th class="has-text-centered">Actions</th>
      </tr>
      </thead>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.user.name %></td>
          <td><%= ldt payment.date %></td>
          <td><%= payment.paid_through %></td>
          <td class="has-text-right"><%= humanized_money_with_symbol payment.amount %></td>
          <td class="has-text-centered">
            <% if payment.payment_receipt.present? %>
              <%= link_to 'Show details', payment_path(payment), class: 'button is-small' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
