<% icon_sizes = Rails.configuration.serviceworker.icon_sizes %>
{
  "name": "Freshgala",
  "short_name": "Freshgala",
  "start_url": "/vendors/sign_in",
  "icons": [
    <% icon_sizes.map { |s| "#{s}x#{s}" }.each.with_index do |dim, i| %>
    {
      "src": "<%= image_path "serviceworker-rails/heart-#{dim}.png" %>",
      "sizes": "<%= dim %>",
      "type": "image/png"
    }
    <%= i == (icon_sizes.length - 1) ? '' : ',' %>
    <% end %>
  ],
  "theme_color": "#9FB7E8",
  "scope": "/vendors/",
  "background_color": "#D0AB78",
  "display": "standalone",
  "orientation": "portrait"
}
