<div class="box">
  <div class="content">
    <h4 class="has-text-centered">Welcome Admin</h4>
  </div>

  <div class="columns is-multiline is-mobile is-desktop">
    <% dashboard_links.each do |dash| %>
      <div class="has-text-centered column is-3-desktop is-12-mobile">
        <%= link_to dash[:path], class: "box", style: 'padding: .75rem 1.25rem;min-height: 77px;' do %>
          <p class="path-name"><%= dash[:name] %></p>
          <p class="path-count" style="font-size: 1.2rem;"><%= dash[:count] %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
