.accordions {
  .accordion {
    .accordion-header {
      cursor: pointer;
      .icon {
        float: right;
        transform-origin: center;
        transition-duration: 86ms;
        transition-property: transform, -webkit-transform;
        .fa {
          &:before {
            content: "\f107";
          }
        }
      }
      &:hover {
        .fa {
          color: #3273dc;
        }
      }
    }
    .accordion-body {
      display: none;
    }
    &.is-active {
      .accordion-header {
        .icon {
          transform: rotate(180deg);
          color: #3273dc;
        }
      }

      .accordion-body {
        display: block;
      }
    }
  }
  &.list-accordions {
    .accordion {
      border-bottom: 1px solid grey;
      padding-bottom: 10px;
    }
  }
}

