.fg-langing-navbar {
  margin-top: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  a {
    color: #a2c4cb;
    font-size: 1.2rem;
    transition: all .3s ease;
    &:hover{
      color: #6fe5fe;
    }
  }
  .navbar-item {
    padding: .5rem 2rem;
  }
}
.fg-hero {
  background: linear-gradient(165deg,#4d7c8e 35%,rgba(164,223,154,.85) 131%);
  text-shadow: 2px 2px 12px rgba(17,17,17,.72);
}
.fg-headline-features {
  background-image: linear-gradient(164deg,#1b293a 44%,#4592a0 110%);
  border-top: 25px solid #3b4b64;
  border-bottom: 25px solid #3b4b64;
  padding-bottom: 2rem;
}
.fg-contact-form {
  background: linear-gradient(150deg,#31709d -10%,#bdd3c4 110%);
  padding-bottom: 8rem;
  padding-top: 8rem;
}
.fg-ticket-form {
  .field {
    .label {
      color: #cedde3;
    }
    input {
      background-color: #d0e2df;
      border-color: #dbdbdb;
      box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
      color: #363636;
    }
  }
}
.fg-footer {
  background-color: #2b3a45;
  padding: 3rem 1.5rem 6rem;
  border-top: 10px solid #506679;
  h3 {
    color: #7792a9;
    font-size: 1.2rem;
  }
  ul {
    list-style: none;
    li {
      margin: .4rem 1rem;
    }
  }
  a {
    color: #9ba9b5;
    transition: all .2s linear;
    &:hover{
      color: #6fe5fe;
    }
  }
  hr {
    background-color: #506679;
  }
  .company-info {
    color: #687985;
  }
}
.fg-features-page {
  background: linear-gradient(165deg,#086c8a 40%,rgba(149,157,129,.8) 110%);
  min-height: 100vh;
  padding-top: 25vh;
}
.fg-questions-section {
  background: linear-gradient(45deg,#1d637e 25%,#81b6aa 110%);
}
.fg-about-page {
  background: linear-gradient(160deg,#335061 35%,#62c1c6 110%);
  min-height: 100vh;
  padding-top: 10rem;
  h1 {
    color: #adc5cd;
  }
}
.fg-pricing-page {
  background: linear-gradient(165deg,#305f6d 20%,rgba(131,245,194,.8) 110%);
  min-height: 100vh;
  padding-top: 8rem;
}