.mail-body {
  margin: 0 auto !important;
  padding: 15px;
  background: #f6f6f6;
  display: block !important;
  max-width: 800px !important;
  .box {
    margin: 0 auto 15px;
    padding: 10px;
    max-width: 600px;
    border-radius: 3px;
    display: block;
    background: #fff;
    min-height: 250px;
  }
}
