html {
  font-family: 'Inter UI', 'Helvetica', "Segoe UI", 'Arial', 'sans-serif';
}

.receipt-image {
  height: 50px;
  margin-top: 10px;
  margin-right: 30px;
}

.bold-font {
  font-weight: 700;
}

.receipt-table {
  width: 100%;
  thead {
    td {
      text-transform: uppercase;
      padding-bottom: 3px;
      border-bottom: 2px solid #222;
      font-weight: 700;
      font-size: 12px;
    }
  }
  tbody {
    line-height: 3rem;
    td {
      border-bottom: 1px solid #f0f0f0;
    }
  }
  tfoot {
    line-height: 3rem;
    tr {
      &.grand-total {
        font-weight: 700;
        color: hsl(141, 71%, 48%);
        background-color: #f0f0f0;
      }
      td {
        border: 0;
      }
    }
  }
  .pct {
    border-left: 2px solid #222;
  }
  .total-text {
    text-align: right;
    padding-right: 25px;
  }
  .num {
    text-align: right;
  }
  td {
    padding: 0 10px;
  }
}

.notification-box {
  background-color: hsl(0, 0%, 96%);
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

.mail-body {
  margin: 0 auto !important;
  padding: 15px;
  background: #f6f6f6;
  display: block !important;
  max-width: 1000px !important;
  .box {
    margin: 0 auto 15px;
    padding: 20px;
    max-width: 750px;
    border-radius: 3px;
    display: block;
    background: #fff;
    min-height: 250px;
  }
}
