<div style="margin: 3rem auto;">
  <%= link_to products_path do %>
    <%= icon 'fas', 'arrow-left' %> back
  <% end %>
  <div class="box">
    <div class="content">
      <h4><%= @product.persisted? ? "Edit #{@product.name}" : 'New product' %></h4>
    </div>
    <div>
      <%= form_with model: @product do |f| %>
        <div class="field">
          <label for="name">Name</label>
          <div class="control">
            <%= f.text_field :name, class: 'input', required: true, placeholder: 'Enter Name' %>
          </div>
        </div>
        <div class="field">
          <label for="unit_of_measurement">Unit</label>
          <div class="control">
            <%= f.text_field :unit_of_measurement, class: 'input', required: true, placeholder: 'Enter Unit' %>
          </div>
        </div>
        <div class="field">
          <label for="base_price_in_paisa">Price</label>
          <div class="control">
            <%= f.text_field :base_price, class: 'input', required: true, placeholder: 'Enter Price in Rupees' %>
          </div>
        </div>
        <div class="field">
          <label for="product_category_id">Product Category</label>
          <div class="control">
            <div class="select">
              <%= f.select :product_category_id, options_from_collection_for_select(@product_categories, "id", "name"), {prompt: 'Select Category', required: true} %>
            </div>
          </div>
        </div>

        <% unless @product.persisted? %>
          <div class="field">
            <label for="image">Image</label>
            <div class="file has-name is-fullwidth">
              <label class="file-label">
                <%= f.file_field :images, class: 'file-input', accept: 'image/*', required: true %>
                <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
                <span class="file-name"></span>
              </label>
            </div>
            <p class="help">Load only Jpeg images</p>
          </div>
        <% end %>

        <div class="field">
          <label for="description">Description</label>
          <div class="control">
            <%= f.text_area :description, class: 'input', required: true, placeholder: 'Enter Description' %>
          </div>
        </div>
        <div class="field">
          <label class="checkbox">
            <%= f.check_box :freshgala_products, as: :boolean %>
            Freshgala Product
          </label>
        </div>
        <div class="field">
          <label class="checkbox">
            <%= f.check_box :sample, as: :boolean %>
            Sample or Subscription Based Product
          </label>
        </div>

        <div class="field">
          <%= f.submit 'Save', class: 'button is-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
