<div class="box" style="margin: 2rem auto; width: 90%;">
  <div class="content">
    <div class="title-enc">
      <h4 class="break white left">
        <span>Product List</span>
      </h4>
      <div class="align-inside-title align-right">
        <%= link_to 'New Product', new_product_path, class: 'button is-small is-info' %>
      </div>
    </div>
  </div>
  <% if @products.exists? %>
    <div class="table-container">
      <table class="table is-fullwidth is-striped">
        <thead>
        <tr>
          <td>Name</td>
          <td>Category</td>
          <td>Price</td>
          <td>UOM</td>
          <td style="width: 10%;" class="has-text-centered">FG Prod</td>
          <td style="width: 10%;" class="has-text-centered">Sample Prod</td>
          <td style="width: 5%;" class="has-text-centered">Images</td>
        </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= link_to product.name, edit_product_path(product) %>
            </td>
            <td><%= product.product_category.name %></td>
            <td><%= humanized_money_with_symbol(product.base_price) %></td>
            <td><%= product.unit_of_measurement %></td>
            <td class="has-text-centered">
              <% if product.freshgala_products? %>
                <%= icon('fas', 'check-circle', class: 'has-text-success') %>
              <% else %>
                <%= icon('fas', 'times-circle', class: 'has-text-danger') %>
              <% end %>
            </td>
            <td class="has-text-centered">
              <% if product.sample %>
                <%= icon('fas', 'check-circle', class: 'has-text-success') %>
              <% else %>
                <%= icon('fas', 'times-circle', class: 'has-text-danger') %>
              <% end %>
            </td>
            <td class="has-text-centered">
              <%= link_to product_path(product) do %>
                <i class="far fa-images"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="has-text-centered">There are no products as of now. Click "New Product" to create a new product.</p>
  <% end %>
</div>