<div class="box" style="margin: 3rem auto;">
  <div class="content">
    <h3><%= @product.name %> Images</h3>
  </div>

  <div style="margin-top: 1rem">
    <%= form_with model: @product do |f| %>
      <div class="field">
        <label for="image">Image</label>
        <div class="file has-name is-fullwidth">
          <label class="file-label">
            <%= f.file_field :images, class: 'file-input', accept: 'image/*', required: true %>
            <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            <span class="file-name"></span>
          </label>
        </div>
        <p class="help">Load only Jpeg images</p>
      </div>

      <div class="field">
        <%= f.submit 'Save', class: 'button is-success' %>
      </div>
    <% end %>
  </div>

  <div style="margin-top: 1rem" class="columns is-multiline is-centered">
    <% @product.images.order(:created_at).each.with_index do |image, index| %>
      <div class="column is-4 image-box">
        <div class="box has-text-centered">
          <%= image_tag image %>
        </div>
        <% if index > 0 %>
          <%= link_to product_path(@product, image_id: image.id), method: :delete do %>
            <i class="far fa-trash-alt fa-3x delete-btn has-text-danger"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
