<!DOCTYPE html>
<html>
<head>
  <title>MilkyWay</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>


<nav class="navbar has-shadow" style="margin-bottom: 1rem;">
  <div class="container">

    <div class="navbar-brand" style="z-index: 1 ;">
      <a class="navbar-item" href="<%= root_path %>">
        <div class="logo">
          <%= image_tag 'landing1/logo.png', class: '' %>
        </div>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="freshgalaNav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="freshgalaNav">
      <% if admin_signed_in? %>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= icon('fas', 'user') %> &nbsp;
              <%= current_admin.email %>
            </a>
            <div class="navbar-dropdown is-right">
              <%= link_to 'Log Out', destroy_admin_session_path, class: 'navbar-item', method: :delete %>
            </div>
          </div>
        </div>
      <% elsif vendor_signed_in? %>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= icon('fas', 'user') %> &nbsp;
              <%= current_vendor.name %>
            </a>
            <div class="navbar-dropdown is-right">
              <%= link_to 'Log Out', destroy_vendor_session_path, class: 'navbar-item', method: :delete %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="navbar-end">
          <%= link_to 'Admin Log in', new_admin_session_path, class: 'navbar-item' %>
          <%= link_to 'Seller Log in', new_vendor_session_path, class: 'navbar-item' %>
          <%= link_to 'New Seller', new_vendor_registration_path, class: 'navbar-item' %>
        </div>
      <% end %>

    </div>
  </div>
</nav>

<% if flash.count > 0 %>
  <script type="text/javascript">
    <% flash.each do |key, value| %>
    toastr['<%= get_flash_key key %>']('<%= value %>');
    <% end %>
  </script>
<% end %>
<div class="container is-fluid fg-body <%= yield(:additional_container_classes) %>">
  <%= yield %>
</div>
</body>
</html>
