<!DOCTYPE html>
<html>
<head>
  <title>MilkyWay</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>


<nav class="navbar is-transparent fg-langing-navbar">

  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <%= image_tag 'logo.png', class: '', alt: 'Freshgala Logo' %>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="freshgalaNav1">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="freshgalaNav1">
    <div class="navbar-end">
      <%= link_to 'Features', features_path, class: 'navbar-item' %>
      <%= link_to 'About Us', about_path, class: 'navbar-item' %>
      <%= link_to 'Pricing', pricing_path, class: 'navbar-item' %>

      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a href="#" class="button is-primary is-outlined">
              Login
            </a>
          </p>
          <p class="control">
            <a href="#" class="button is-success is-outlined">
              Signup
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>


<div>
  <%= yield %>
</div>

<footer class="footer fg-footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3>Navigation</h3>
        <hr>
        <ul>
          <li>
            <%= link_to 'Features', features_path %>
          </li>
          <li>
            <%= link_to 'About Us', about_path %>
          </li>
          <li>
            <%= link_to 'Pricing', pricing_path %>
          </li>
          <li><a href="https://play.google.com/store/apps/details?id=com.freshgala&hl=en" target="_blank">Download Our App</a></li>
        </ul>
      </div>

      <div class="column">
        <h3>Login/Signup</h3>
        <hr>
        <ul>
          <li>
            <%= link_to 'Seller Login', new_vendor_session_path %>
          </li>
          <li>
            <%= link_to 'Seller Signup', new_vendor_registration_path %>
          </li>
          <li>
            <%= link_to 'Admin Login', admin_session_path %>
          </li>
        </ul>
      </div>

      <div class="column">
        <h3>Resources</h3>
        <hr>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Fooder System</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </div>
    <div class="has-text-centered company-info">
      <br>
      <p>© Freshgala LLC 2018. All rights reserved.</p>
      <p>Freshgala LLC is registered in India, company registration number XXXXXXXXX</p>
    </div>
  </div>
</footer>
</body>
</html>
