<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "mailer" %>
</head>


<body>
<div class="mail-body">
  <div class="box">
    <div style="text-align: center">
      <%= image_tag(attachments['logo.png'].url, width: 200) %>
    </div>
    <hr>
    <%= yield %>
  </div>
  <div style="text-align: center;color: gray">
    © 2019-Freshgala. All rights reserved.
    <br>
    65, Rajas Garden Road, Porur, Chennai - 600095
  </div>
</div>
</body>
</html>
